@import 'https://fonts.googleapis.com/css?family=Raleway';
@font-face {
  font-family: Sense;
  src: url(../fonts/simple-light.ttf);
}
@font-face {
  font-family: Peace;
  src: url(../fonts/PeaceSansWebfont.ttf);
}
@font-face {
  font-family: Aleo;
  src: url(/fonts/aleo-bold-webfont.ttf);
}
html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.login{
  height: 100%;
  width: 100%;
  margin:auto;
  background: url(../img/loginPhoto.jpg) no-repeat 50% 50%;
  display: table;
  top: 0;
  background-size: cover;
}
.login .inner{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}
.login .inner .content{
  margin-left: 0 auto;
  text-align: center;
}
.content h1{
  font-family: 'Sense', sans-serif;
  color: #F9F3F4;
  text-shadow: 0px 0px 400px #000;
  font-size: 700%;
  margin-bottom: 50px;
}
.content h2{
  font-family: 'Sense', sans-serif;
  color: #F9F3F4;
  text-shadow: 0px 0px 400px #000;
  font-size: 200%;
  margin-bottom: 50px;
}


.login-btn{
  border: solid #ffd800 3px !important;
  border-radius: 9px !important;
  font-family: Aleo !important;
  color: #ffd800 !important;
  font-size: 200% !important;
  padding: 8px 30px !important;
  text-decoration: none !important;
  margin: 20px !important;
  background: transparent !important;
}

.login-btn:hover{
  color: #ffffff !important;
  border: solid #ffffff 3px !important;
  text-decoration: none !important;
}
#rig {
    max-width:900px;
    margin:0 auto; /*center aligned*/
    padding:0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
    background-color:#000;
}
#rig li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
    width:25%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}

/* The wrapper for each item */
.rig-cell {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display:block;
    position: relative;
    overflow:hidden;
}

/* If have the image layer */
.rig-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}

#rig li:hover .rig-img {
    transform:scale(1.05);
}

/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #3DC0F1 url(img/link.png) no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.8;
}

/* If have captions */
.rig-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:18px;
    font-weight:bold;
    font-family: 'Oswald', sans-serif;
    font-weight:normal!important;
    top:40%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
}
#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}

@media (max-width: 9000px) {
    #rig li {
        width:25%;
    }
}

@media (max-width: 700px) {
    #rig li {
        width:33.33%;
    }
}

@media (max-width: 550px) {
    #rig li {
        width:50%;
    }
}
